<div class="container main">
    <div class="content">
        <div class="header">
            <h1 class="text">Update task</h1>
        </div>
        <form [formGroup]="frmTask" (ngSubmit)="onSubmit()">
            <div class="form-input">
                <input type="text" class="textInput" formControlName="nameTask" placeholder="Add new task..." >
                <span *ngIf="frmTask.controls.nameTask.invalid" class="errorMessage">
                    Name is required!
                </span>
            </div>
            <div class="form-input">
                <label for="description">Description</label>
                <textarea type="text" cols="30" rows="10" class="areaText" formControlName="description" ></textarea>
            </div>
            <div class="form-group">
                <div class="left">
                    <label for="date">Due Date</label>
                    <input type="date" class="dateInput" [min]="min" formControlName="dueDate">  
                </div>
                <div class="right">
                    <label for="origin">Priority</label>
                    <select class="dropDown">
                        <option value="Low">Low</option>
                        <option value="Normal" selected>Normal</option>
                        <option value="High">High</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn-success">Update</button>
        </form>
    </div>
</div>