.main {
  width: 100%;
  margin: 0 auto;
  max-width: 50%;
  padding: 0;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  min-height: 350px;
  min-width: 400px;
  min-height: 350px;
  min-width: 400px;
}

.text{
  color: #000000;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  text-align: center;
  line-height: 1px;
  padding: 5px;
}

.addNew {
  margin: 8px;
  height: 32px;
  color: #ffffff;
  font-family: Arimo;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #5cb85c;
  border: none;
  border-radius: 5px;
}

.header {
  padding: 10px;
}

.form-group {
  width: 90%;
  display: flex;
  margin: 0 48px 0 32px;
}

.taskTitle {
  width: 60%;
  color: #333333;
  font-family: "Source Sans Pro";
  font-size: 16px;
  text-align: left;
  padding: 5px;
}

.addInput {
  width: 95%;
  margin: 0 0 0 10px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

ul {
  padding: 0 0 150px 0;
}

ul > li {
  height: 61px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  border: 1px solid #000000;
  border-radius: 0px;
  display: flex;
  margin: 12px 8px 12px 12px;
}

li > * {
  display: flex;
  flex-wrap: wrap;
}

.btnDetail {
  width: 93px;
  height: 28px;
  color: #ffffff;
  font-family: Arimo;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #00bcd4;
  border: none;
  border-radius: 5px;
  margin: 12px;
}

.btnRemove {
  width: 79px;
  height: 28px;
  color: #ffffff;
  font-family: Arimo;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #d9534f;
  border: none;
  border-radius: 5px;
  margin: 12px;
}

.main-container {
  margin: 2%;
}

li {
  background-color: #ffffff85;
  margin: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 2rem;
  line-height: 1.5em;
  border-radius: 10px;
}


