<div class="container main">

    <div class="main-container">
        <div class="header">
            <h1 class="text">TO DO LIST</h1>
        </div>
        <div>
            <button class="addNew" (click)="addNewTask()">Add new todo list</button>
        </div>
        <div>
            <input type="text" name="search" class="addInput"
            [(ngModel)]="searchText" autocomplete="on" placeholder="Search...">
        </div>
        <div class="content">
            <ul>
                <li *ngFor="let task of sortData | filter:searchText">
                    <input type="checkbox" [checked]="task.showDetail" (click)="showBulkAction()">

                    <div class="form-group">
                        <div class="taskTitle">
                            {{task.nameTask}}
                        </div>
                        <!-- buttons switching -->
                        <div class="form-control">
                            <button [routerLink]="['/todo-update', task.id]" class="btnDetail">Detail</button>
                            <button (click)="deleteTask(task.id)" class="btnRemove">Remove</button>
                        </div>

                        
                    </div>
                    <ng-template *ngIf="!task.showDetail">
                        <div>test show bulk action</div>
                        {{task.description}}
                    </ng-template>
                    <ng-template #doneBtn>
                        <!-- <div>
                        <button class="btn btn-success listBtn"(click)="editTask(task); toggleEdit(task)" ><i class="fa fa-edit"></i> Done</button>
                    </div> -->
                    </ng-template>     
                </li>
               
            </ul>

            
        </div>
    </div>
</div>