.main {
  width: 100%;
  margin: 0 auto;
  max-width: 50%;
  padding: 0;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  min-height: 350px;
  min-width: 400px;
}

.header {
  padding: 10px;
}

.text {
  font-family: "Source Sans Pro";
  font-size: 18px;
  text-align: center;
  line-height: 1px;
  padding: 5px;
}

.textInput {
  width: 95%;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.areaText {
  width: 96%;
  max-width: 96%;
  min-width: 50%;
  min-height: 100px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
}

.form-input {
  margin: 30px;
}

label {
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding-bottom: 5px;
  display: inherit;
}

.form-group {
  display: flex;
  margin: 0 48px 0 32px;
}

.left {
  width: 50%;
  margin: 0 102px 30px 0;
}

.dateInput {
  width: 275px;
  /* min-width: 120px; */
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
}

.dropDown {
  width: 275px;
  /* min-width: 120px; */
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
}

.btn-success {
  width: 90%;
  margin: 30px;
  height: 32px;
  color: #ffffff;
  font-family: Arimo;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #5cb85c;
  border: none;
  border-radius: 10px;
}

.errorMessage {
  color: red;
  font-family: "Source Sans Pro";
  font-size: 12px;
}